<p id="notice"><%= notice %></p>

<h1>Listing Buildings</h1>

<table class="w1200px">
  <thead>
    <tr>
      <th class="w25">Name</th>
      <th class="w20">Address</th>
      <th class="w20">Measurement</th>
      <th class="w10">Year</th>
      <th class="w10">Total</th>
    </tr>
  </thead>

  <tbody>
    <%= render @buildings %>
  </tbody>
</table>
